spring:
  datasource:
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      format_sql: true
    show-sql: true

jwt:
  expiration: ${JWT_EXPIRATION}
  secret: ${JWT_SECRET}

frontend:
  url: ${FRONTEND_URL}



